* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #e1e0e0;
  color: #161515;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
/* General styles for the round button */
.round-button {
  position: fixed;
  top: 10%;
  right: 4%;
  border: none;
  border-radius: 42%;
  width: 11px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s ease;
  z-index: 1000;
  border: none;
}
.round-button:hover {
  background-color: #dcdcdc;
}

.round-button:active {
  transform: scale(0.95);
}
body.dark-mode .round-button {
  background-color: #333;
  color: #fff;
}
body.dark-mode .round-button {
  background-color: #272424;
  color: #fff;
}
.blog-title.dark-mode {
  background-color: #1615157a;
  color: #121010;
}
.main-container.dark-mode {
  background-color: rgb(134 133 145 / 20%);
  color: #333;
}
#toggle-icon {
  font-weight: 600;
}
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e1e0e0;
  /* background-image: url(/assets/vector-grey-abstract.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2%;
}

.blog-title {
  background-color: rgb(140 137 137 / 26%);
}

.content-main {
  width: 100%;
  height: 100%;
}
.blog-info {
  font-size: 16px;
}
.blog-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-right {
  float: right;
  font-weight: 30px;
  padding: 1% 5%;
}
/*
header drop-down
*/
.header-right {
  position: relative;
  display: flex;
  align-items: center;
}

.header-right .active {
  position: relative;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  /* background-color: #c4b8b8; */
  border-radius: 4px;
}

.header-right .dropdown {
  display: none; /* Hidden initially */
  position: absolute;
  top: 100%; /* Position dropdown below the "Home" button */
  left: 0;
  background-color: #e1e0e0;
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 5px;
}

.header-right .dropdown li {
  padding: 10px 15px;
}

.header-right .dropdown li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.header-right .dropdown li a:hover {
  background-color: #dad6d6;
  color: black;
  border-radius: 4px;
}

/* Display dropdown on hover */
.header-right:hover .dropdown {
  display: block;
}

/* Smooth transition for dropdown */
.header-right .dropdown {
  transition: all 0.3s ease-in-out;
}

.blog-heading {
  padding-left: 2%;
  font-size: 14px;
}
.header-right a {
  float: left;
  color: black;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}
.header-right a:hover {
  background-color: #b4b0b0;
  color: black;
}

.main-head-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.blog-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px 0px 27px;
}

.blog-detail {
  padding: 2% 0 1% 4%;
}
.content-main-htmlcss p {
  margin-bottom: 1em;
}
.htmlcss-prop {
  font-size: 18px;
  padding: 2px;
}
.content-main-htmlcss {
  padding: 20px;
}
.tech-one {
  font-size: 20px;
  color: black;
  transition: width 0.3s ease;
}

.tech-one:hover {
  color: rgb(99, 86, 86);
}

.tech-skill,
.hum-skill {
  list-style-type: disclosure-closed;
}

.blog-data {
  padding: 2%;
  width: 100%;
}
.question-head {
  text-align: left;
  background-color: #f2f2f2;
  padding: 1% 5%;
  border-radius: 8px;
  margin: 20px;
  box-shadow: -8px 8px 7px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.screenshot-id-class {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.best-practise,
.image-idclass {
  margin: 10px 0 0 10%;
}
.html-example {
  width: 80%;
}
.dom-img {
  width: 50%;
}
.dom-example {
  width: 70%;
}
.blog-items {
  display: grid;
  margin: 7% 2% 2% 14%;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgb(140 137 137 / 26%) -13px -12px 20px 0px;
  color: #464242;
  font-size: 1.5em;
  text-align: center;
}
.blog-items .skill-base {
  display: flex;
  justify-content: center;
}
.tech-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tech-list > * {
  background-color: rgb(223 223 223);
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  margin: 11px;
}
.blog-content-detail {
  display: grid;
  gap: 10%;
  grid-template-columns: 1fr 1fr;
  width: 70%;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(140 137 137 / 26%);
  color: #877d7d;
  padding: 10px 0;
  z-index: 1000;
}
.footer-right {
  display: flex;
  justify-content: center;
  width: 60%;
}
.footer p {
  margin: 0;
  font-size: 16px;
}

.github-link {
  width: 27%;
  color: rgb(93 90 135);
  line-height: 20px;
}
#goUpBtn {
  display: none;
  position: fixed;
  bottom: 13%;
  right: 9%;
  z-index: 99;
  width: 50px;
  height: 50px;
  background-color: #a4a2a2;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#goUpBtn:hover {
  background-color: #969393;
}
.sub-head {
  color: #b3856b;
}
/* Responsive Design: Media Query */
@media only screen and (max-width: 650px) {
  .blog-content {
    flex-direction: column;
  }
  .blog-name {
    flex-direction: column;
  }
  .header-right {
    display: flex;
    flex-direction: column;
  }
  .content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .blog-content-detail {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 10%;
  }
  .footer {
    padding: 1%;
  }
}
