* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #e1e0e0;
  color: #161515;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e1e0e0;
  background-image: url(/assets/blog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-title {
  background-color: rgb(140 137 137 / 26%);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(140 137 137 / 26%);
  color: #877d7d;
  padding: 10px 0;
  z-index: 1000;
}
.footer p {
  margin: 0;
  font-size: 16px;
}
.content-main {
  width: 100%;
  height: 100%;
}

.blog-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
}
.header-right {
  float: right;
  font-weight: 30px;
  padding: 0 1%;
}
.header-right a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  padding: 8px;
}
.header-right a:hover {
  background-color: #b4b0b0;
  color: black;
}

.main-head-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.blog-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}
/* .blog-content-detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
} */
.blog-detail {
  padding: 19px;
}
.content-main-htmlcss p {
  margin-bottom: 1em;
}
.htmlcss-prop {
  font-size: 18px;
  padding: 2px;
}
.content-main-htmlcss {
  padding: 20px;
}
.tech-one {
  font-size: 20px;
  color: black;
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.tech-one:hover {
  color: rgb(0, 0, 0);
}
/* .tech-list {
  list-style-type: none;
} */
.tech-skill,
.hum-skill {
  list-style-type: disclosure-closed;
}
/* .blog-items {
  width: 50%;
  margin: 3% 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgb(228 234 154) 0px 8px 32px;
  color: #464242;
  font-size: 1.5em;
  text-align: center;
} */
.blog-data {
  padding: 2%;
  width: 100%;
}
.question-head {
  font-size: large;
  text-align: left;
}
.screenshot-id-class {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.best-practise,
.image-idclass {
  margin: 10px 0 0 10%;
}
.html-example {
  width: 80%;
}
.blog-items {
  display: grid;
  margin: 2% 2% 2% 14%;
  justify-content: center;
  align-items: center;
  border-radius: 8%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgb(140 137 137 / 26%) -13px -12px 20px 0px;
  color: #464242;
  font-size: 1.5em;
  text-align: center;
}
.blog-items .skill-base {
  display: flex;
  justify-content: center;
}
.tech-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tech-list > * {
  background-color: rgb(223 223 223);
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  margin: 11px;
}
.blog-content-detail {
  display: grid;
  gap: 10%;
  grid-template-columns: 1fr 1fr;
  width: 70%;
}

/* Responsive Design: Media Query */
@media only screen and (max-width: 650px) {
  .blog-content {
    flex-direction: column;
  }
  .blog-name {
    flex-direction: column;
  }
  .header-right {
    display: flex;
    flex-direction: column;
  }
  .header-right a {
    padding: 8px;
    font-size: 16px;
  }
  .content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  /* .blog-content-detail {
    flex-direction: column;
  } */
  .blog-content-detail {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
